{% extends "/index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="">北京pk管理</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">开奖列表</span>
                            </li>
                        </ul>
                        <!-- Single button -->
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-1">
                                <div class="col-md-4">
                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                                        <input type="text" class="form-control" name="from">
                                                        <span class="input-group-addon"> to </span>
                                                        <input type="text" class="form-control" name="to"> </div>
                                                    <!-- /input-group -->
                                                    <span class="help-block"> Select date range </span>
                                                </div>
                            </div>
{#                            <div class="col-md-4">#}
{#                                <button class="btn blue btn-circle pull-right" data-toggle="modal" data-target="#myModal">#}
{#								批量导入#}
{#							</button>#}
{#                            </div>#}
                        </div>
                        <div class="row">
                            <div class="portlet-body col-lg-12">
                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>期数</th>
                                            <th>开奖号码</th>
                                            <th>开奖时间</th>
                                            <th>创建日期</th>
{#                                            <th>操作</th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in data %}
                                            <tr id="tr-{{ row['id'] }}">
                                                <td>{{ row["id"] }}</td>
                                                <td>{{ row["period"]}}</td>
                                                <td>{{ row["award"] }}</td>
                                                <td>{{ row["award_time"] }}</td>
                                                <td>{{ row["create_time"] }}</td>
{#                                                <td>#}
{#                                                    <button type="button"#}
{#                                                            class="btn btn-danger glyphicon glyphicon-pencil" title="编辑"#}
{#                                                            onclick="modify_monitor_data({{ row['id'] }})"></button>#}
{#                                                </td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">
        $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - HH:ii P",
        showMeridian: true,
        autoclose: true,
        todayBtn: true
        });
        {#$('.form_date').datetimepicker(#}
        {#    { language: 'zh-CN',#}
        {#        weekStart: 1,#}
        {#        todayBtn: 1,#}
        {#        autoclose: 1,#}
        {#        todayHighlight: 1,#}
        {#        startView: 2, minView: 2,#}
        {#        forceParse: 0#}
        {#    }#}
        {#    );#}

        function add_monitor_info() {
            window.location.href = "/add_account_info"
        }

        function modify_monitor_data(id) {
            window.location.href = "/modify_account_info?id=" + id;
        }
    </script>
{% endblock %}

